.chat{ "data-id": "#{message.id}"}
  %p.chat__user
    = message.user.name
  %p.chat__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.chat__content
    = message.content
  %p.chat__image
    - if message.image.present?
      = image_tag message.image, class: 'lower-message__image'
