= render 'groups/content-left'

.content-right
  .group
    %p.group__name グループ名
    %p.group__member MEMBER: メンバー名
    %p.group__btn Edit

  = render 'chat'

  .bottom-content
    .submit
    = form_for [@group, @message] do |f|
      %p
        = f.text_field :content, class: "submit__content", placeholder: 'type a message'
        %label.chat-footer__file      
          %i.fa.fa-file-image-o
        = f.submit "Send", class: "submit__btn"