= render 'groups/content-left'

.content-right
  .group
    %p.group__name
      = @group.name
    %p.group__member
      MEMBER:
      = @users.pluck(:name).join(",")

    = link_to edit_group_path(@group) do  
      %p.group__btn Edit

  = render @messages

  .bottom-content
    .submit
    = form_for [@group, @message] do |f|
      %p
        = f.text_field :content, class: "submit__content", placeholder: 'type a message'
        %label.chat-footer__file      
          %i.fa.fa-file-image-o
        = f.submit "Send", class: "submit__btn"